.element {
  float: left;
  height: 312px;
  width: 320px;
  background-color: #333;
  color: #fff;
  position: relative;
  /*border: 20px solid transparent;*/
}
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.front {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  background-color: #333;
  color: #fff;
  text-align: center;
}
.element:hover .front {
  transform: rotateY(180deg);
}
.element:hover .back {
  transform: rotate(0deg);
}
.element.front img {
  width: 100%;
  height: 100%;
}
.front1,
.back1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.front1 {
  transform: rotateX(0deg);
}
.back1 {
  transform: rotateY(180deg);
  background-color: #333;
  color: #fff;
  text-align: center;
}
.element:hover .front1 {
  transform: rotateX(180deg);
}
.element:hover .back1 {
  transform: rotate(0deg);
}
.element.front1 img {
  width: 100%;
  height: 100%;
}

/** hover project3 styles **/

.front2,
.back2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.front2 img {
  width: 100%;
  height: 100%;
}
.back2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  top: -100%;
  transition: all 0.5s ease;
}

.effect3 {
  overflow: hidden;
  transition: all 0.5s ease;
}

.effect3:hover .back2 {
  top: 0;
}

/** hover project3a styles **/

.front2a,
.back2a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.front2a img {
  width: 100%;
  height: 100%;
}
.back2a {
  background-color: #333;
  color: #fff;
  text-align: center;
  top: -100%;
  transition: all 0.5s ease;
}

.effect3a {
  overflow: hidden;
  transition: all 0.5s ease;
}

.effect3a:hover .back2a {
  top: 0;
}

.effect3a:hover {
  transform: scale(0.7);
}

/** hover project3b styles **/

.front2b,
.back2b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*backface-visibility: hidden;*/
  transition: all 0.5s ease;
}

.front2b img {
  width: 100%;
  height: 100%;
}
.back2b {
  background-color: #333;
  color: #fff;
  text-align: center;
  top: -100%;
  transition: all 0.5s ease;
}

.effect3b {
  overflow: hidden;
  transition: all 0.5s ease;
}

.effect3b:hover .back2b {
  top: 0;
}

.effect3b:hover {
  transform: scale(0.7);
  border-radius: 50%;
  border: 20px solid orange;
}

.effect3b:hover .back-content {
  transform: scale(1.5);
  padding-top: 15%;
}

/*project 4 styles */

.front4,
.back4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*backface-visibility: hidden;*/
  transition: all 0.5s ease;
}

.front4 {
  z-index: 2;
  transform-origin: left;
}

.front4 img {
  width: 100%;
  height: 100%;
}
.back4 {
  background-color: darkgreen;
  color: #fff;
  text-align: center;
  top: 0%;
  transition: all 0.5s ease;
  z-index: 1;
}

.effect4 {
  overflow: hidden;
  transition: all 0.5s ease;
}

.effect4:hover .front4 {
  transform: rotateY(90deg);
}

/*project 5 styles */

.front5,
.back5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}

.front5 img {
  width: 100%;
  height: 100%;
}
.back5 {
  background-color: darkmagenta;
  color: #fff;
  text-align: center;
  transform: rotateX(-90deg);
  transform-origin: top;
}

.effect5:hover .back5 {
  transform: rotateX(0);
}

/*project 6 styles */

.front6,
.back6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.front6 img {
  width: 100%;
  height: 100%;
}
.back6 {
  background-color: rgba(44, 62, 80, 0.5);
  color: #fff;
  text-align: center;
  transform: scale(0);
}

.front6:before {
  position: absolute;
  content: "";
  width: 160%;
  height: 40%;
  background-color: rgba(44, 62, 80, 0.5);
  top: -10%;
  right: -80%;
  transform: rotate(40deg);
  transition: all 0.5s ease;
}

.effect6 {
  overflow: hidden;
}

.effect6:hover .front6:before {
  top: 120%;
  right: 120%;
}

.effect6:hover .back6 {
  transform: scale(1);
}

/*project 7 styles */

.front7,
.back7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.front7 img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.back7 {
  background-color: rgba(44, 62, 80, 0.8);
  color: #fff;
  text-align: center;
  transform: scale(0);
}

.front7:before {
  position: absolute;
  content: "";
  width: 160%;
  height: 40%;
  background-color: rgba(44, 62, 80, 0.8);
  top: -10%;
  right: -80%;
  transform: rotate(40deg);
  transition: all 0.5s ease;
  z-index: 2;
}

.effect7 {
  overflow: hidden;
}

.effect7:hover .front7:before {
  top: 120%;
  right: 120%;
}

.effect7:hover .back7 {
  transform: scale(1);
}

.effect7:hover .front7 img {
  transform: scale(1.3) rotate(10deg);
}

/* project 8 styles*/
.front8,
.back8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*backface-visibility: hidden;*/
  transition: all 0.5s ease;
}

.front8 img {
  width: 100%;
  height: 100%;
}
.back8 {
  background-color: #333;
  color: #fff;
  text-align: center;
  top: -100%;
  transition: all 0.5s ease;
}

.effect8 {
  overflow: hidden;
  transition: all 0.5s ease;
}

.effect8:hover .back8 {
  top: 0;
}

.effect8:hover {
  transform: scale(0.7) rotateZ(360deg);
  border-radius: 50%;
  border: 20px solid orange;
}

.effect8:hover .back-content {
  transform: scale(1.5);
  padding-top: 15%;
}
